@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet');


body{
    padding:0pt;
    /* background: linear-gradient(90deg,#1a93d1 ,#5bc6ed, #a0dcf0); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
    }
    
.topSection{
	background: linear-gradient(90deg,#1a93d1 ,#5bc6ed, #a0dcf0);
	position: static;
	content: inline-flex;
}

 #graphic{
    float: right;
    width: 70%;
    /* height: 550px; */
    margin-left:30vw;
	margin-top: 10px;
	position: relative;
} 

.topLeft{
	position: absolute;
    width:30vw;
    height: 600pt;
    margin-top: 10px;
    margin-left: 40pt;
    margin-right:40pt;
	margin-bottom: 100px;
}

#logo{
    margin-top: 10pt;
    height: auto;
    width: 100%;
    display: flex;
    margin-left: -8pt;
}

h1{
	text-align: center;
	margin: 0;
	z-index: 1;
	font-family: 'Bangers';
	color: #314987;
	font-size: 2.7vw;
	letter-spacing: 3pt;
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2vw;
    color:black;
    font-weight: bold;    
}

.form {
    margin-top: 30px;
    padding: 20px 3vw;
    text-align: center;
    width: 100%;
    background-color:#deecf8;
    border-radius: 6px;
}

.submit{
    width: 97%;
    height: 5vw;
    border: .2em solid #314987;
    border-radius: 7pt;
    background-color: #314987;
    color: white;
    font-size: 11pt;
    font-weight: 550;
    text-transform: uppercase;
    position: center;
}	

.submit:hover {
    background-color: #296f5f; 
    border: .2em solid #296f5f;
}	

input{
	margin-top:.5vw;
    border: 1.5pt solid #202020;
    border-radius: 5pt;
    width: 97%;
    height: 3vw;
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: 500;
    text-align: center;  
}	

.resultsRibbon{
	width: 100%;
	height: 5vw;
	font-family: 'Bangers';
    color: #314987;
    background-color: #f8cf19;
    text-align: center;
    line-height: 5vw;
    text-transform: uppercase;
	font-size: 2.7vw;
	letter-spacing: 3pt;
    font-weight: 700;
}	

* {
	box-sizing: border-box;
}

.pokemon {
	
	background-color: #eee;
	border-radius: 7px;
	border: 8pt solid #ffe058;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 140pt;
	height: 210pt;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5%;
	width: 145px;
	height: 160px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.title {
	width: 145px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20pt;
	text-transform: uppercase;
	margin-bottom: 8%;
	background-color: #ffe058;
	border-radius: 3pt; 
}

.name {
    font-family: 'Bangers';
    color: #242323;
    letter-spacing: 2pt;
	padding-left: 5pt;
	padding-right: 5pt;
	Font-size: 1.1em;
}

.number {
	padding-right: 5pt;
	Font-size: .5em;
}

.info{
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 3pt;
	text-align: center;
	text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: .75pt;
	margin-top: 10px;
}

.resultsPage{
	background: linear-gradient(90deg,#b9e2f8 , #dbe9ee);
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	padding: 1.8%;
	max-width: 100%;
}		

nav{
    text-align: center;
}	

/* .load{
    margin-top: 20pt;
    margin-bottom: 40pt;
    width: 10%;
    height: 5vw;
    border: .2em solid #314987;
    border-radius: 7pt;
    background-color: #314987;
    color: white;
    font-size: 11pt;
    font-weight: 550;
    text-transform: uppercase;
}	

.load:hover{
    background-color: #156854; 
    border: .2em solid #156854;
}	 */

footer{
    position: relative;
    width: 100%;
    height: 10vw;
    background-color: black;
}	

.copyright{
    font-family:arial;
    font-size: 12px;
    color:gray;
    text-align: center;
    text-transform: uppercase;
    line-height: 10vw;
}	

